<div class="container-fluid px-0">
    <nav class="navbar navbar-expand-lg py-0 px-0"> <a class="navbar-brand" href="/api"><strong><i>API</i></strong></a> <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav flex-column">
                <li class="nav-item"> <a class="nav-link" href="/sesion">Sesiones</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/usuario">Usuarios</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/grupo">Grupos</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/perfil">Perfiles</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/genero">Genero</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/vehiculo">Vehiculos</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/componente">Componentes</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/vehiculo_componente">Vehiculo componente</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/recorrido">Recorridos</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/checkpoint">Checkpoints</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/tipo_dispositivo">Tipo dispositivo</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/componente_parametro">Componente parametro</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/tipo_dato">Tipo dato</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/tipo_componente">Tipo componente</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/parametro_tipo">Patametro tipo</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/clasificacion_componente">Clasificacion componente</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/clasificacion_grupo_componente">Clasificaion grupo componenete</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/tipo_vehiculo">Tipo vehiculo</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/checkpoint_componente">Checkpoint componente</a> </li>
            </ul>
        </div>
    </nav>
</div>